header {
    background-color: rgb(214, 242, 248,1);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    padding: 20px 8%;
}
#content {
    margin-top: 100px;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color:  rgb(57, 146, 210);
}

#nav_list {
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav_item a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(99, 154, 168);  
}

.nav_item.active a {
    color: rgb(58, 97, 107);
    border-bottom: 3px solid rgb(57, 146, 210);
}

#mobile_btn {
    display: none;
}
#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px){
    #nav_list ,#navbar #btn_default{
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;

    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    .nav_item {
        list-style: none;
        text-align: center;

    }
}