#home {
    display: flex;
    height: calc(100vh - 70px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    z-index: 2;
}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span{
    color: rgb(57, 146, 210);
}

#cta .description {
    font-size: 1.5rem;
}

#cta_buttons {
    display: flex;
    gap: 28px;
}

#cta_buttons a {
    text-decoration: none;
    color:rgb(214, 242, 248);
}

#banner {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 90%;
    border: 6px solid white;
    border-radius: 12px;
    overflow: hidden;
    z-index: 2;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shape {
    background-color: rgb(42, 113, 164);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 60% 50% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-width: 100%;
        padding-top: 0px;
        align-items: center;
    }

    #banner, #banner img {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}